<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.globaltalk">
    <!-- adding permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".News_watchActivity"></activity>
        <activity android:name=".News_ListActivity" />
        <activity android:name=".Streaming_ListActivity" />
        <activity android:name=".Player_Activity" />
        <activity android:name=".Follower_list_Activity" />
        <activity android:name=".Following_list_Activity" />
        <activity android:name=".Chat1" />
        <activity android:name=".Chat9" />
        <activity android:name=".Chat_Multi" />
        <activity android:name=".Board_detailActivity" />
        <activity android:name=".Heart_peopleActivity" />
        <activity android:name=".TTSActivity" />
        <activity
            android:name=".ImageTranslateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Streaming_Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Board_editActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".TranslateActivity" />
        <activity android:name=".Friends_Profile_Activity" />
        <activity android:name=".My_Profile_Activity" />
        <activity android:name=".Profile_Image_Activity" />
        <activity android:name=".Chat_invite_Activity" />
        <activity android:name=".M_Chat_invite_Activity" />
        <activity
            android:name=".Board_writeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".UserLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MypageActivity" />
        <activity android:name=".MainActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="{package name}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>